body {font-family: Arial, Helvetica, sans-serif; font-size: 18px;}

h1 
{
color:rgb(47, 255, 0);
}

header, footer
{
  background-color: rgb(75, 75, 75);
}


#my-image
{
  box-shadow: 0 0 2px 1px rgb(0, 0, 0);
}

ul {
  list-style-type: square;
}

li:nth-child(odd)
{
  background-color: rgb(206, 206, 206);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration:rgb(20, 220, 153);
  background-color: rgb(248, 169, 255);
  border: 1px solid rgb(13, 0, 128);
  padding-bottom: 8px 12px;
}

nav a:hover,
nav a:focus {
  background-color: rgb(214, 126, 255);
  border: 1px solid rgb(250, 95, 255);
}
